.top-bar{
    height:5px;
    background-color:#ca2129;
    margin-bottom:1px;
}

.profileName{
    font-size: 15px;
    vertical-align: middle;
    margin-top: 10px;
}

.font-size-sidebar-brand{
    font-size: 26px;
}

.font-size-sidebar-options{
    font-size: 18px;
}

.background-selection{
    background-color:#F55B1D;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFFFFF;
    background-color: #F55B1D;
    border-color: #dee2e6 #dee2e6 #f8fafc;
}

.initial-space{
    margin-left: 200px;
}

.top-margin-row{
    margin-top: 20px;
}

.line{
    display: inline;
    float: left;
}